In [1]:
from cafu.utils import ValidateExecution

In [2]:
dia = '2022-03-20'
val = ValidateExecution(dia)
val.error_types()
val.warning_types()

In [3]:
val.df_log

,date,type,function,description1,description2
0,20/03/2022 03:52:00 PM,SUCCESS,utils.etl.datalake.initialize_datalake,Function executed successfully,[]
1,20/03/2022 03:52:49 PM,INFO,etl.data_lake.partidas_campeonato.update_jogos...,Function started,[]
2,20/03/2022 03:52:49 PM,INFO,etl.data_lake.partidas_campeonato.partidas_cam...,"Function started. <campeonato>=brasil, <tempor...",[]
3,20/03/2022 03:52:51 PM,SUCCESS,queries.Partida.campeonato,Function executed successfully. <jogo_id>=5982...,[]
4,20/03/2022 03:52:52 PM,SUCCESS,queries.Partida.nomes_times,Function executed successfully. <jogo_id>=5982...,[]
...,...,...,...,...,...
33771,21/03/2022 02:28:54 AM,SUCCESS,queries.Partida.day,Function executed successfully. <jogo_id>=5422...,[]
33772,21/03/2022 02:28:54 AM,SUCCESS,utils.loop_try.loop_try,Function executed successfully. <f>=<function ...,[]
33773,21/03/2022 02:28:54 AM,SUCCESS,utils.etl.partidas_campeonato.id_left_right,Function executed successfully. <id_inicial>=5...,[]
33774,21/03/2022 02:28:54 AM,SUCCESS,etl.data_lake.partidas_campeonato.partidas_cam...,Function executed successfully. Return <min_id...,[]
33775,21/03/2022 02:28:54 AM,INFO,etl.data_lake.partidas_campeonato.update_parti...,Update league franca | 2019-2020.,[]

In [4]:
val.df_error

function
queries.Partida.campeonato                               117
queries.Partida.nomes_times                              103
queries.Partida.day                                       97
etl.data_lake.partidas_campeonato.partidas_campeonato      6
utils.loop_try.loop_try                                    1
Name: function, dtype: int64

In [5]:
val.df_warning

Series([], Name: function, dtype: int64)

In [6]:
for f in val.important_functions:
    print(f.upper())
    print('---------------------------')
    val.print_description_error(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 25 minutes and 18.0 seconds

Unexpected number of teams: <returned>=19 <expected>=20. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 25 minutes and 18.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Barcelona': ['Real Sociedad'], 'Real Madrid': ['Valencia']}. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 25 minutes and 18.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 25 minutes and 23.0 seconds

Unexpected number of teams: <returned>=19 <expected>=20. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 25 minutes and 23.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Osasuna': ['Valencia'], 'Villareal': ['Sporting Gijón']}. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 25 minutes and 23.0 seconds

UTILS.LOOP_TRY.LOOP_TRY
---------------------------
Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7f4a6dcfc3a0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

In [7]:
for f in val.important_functions:
    print(f.upper())
    print('---------------------------')
    val.print_description_warning(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
UTILS.LOOP_TRY.LOOP_TRY
---------------------------