In [1]:
from cafu.utils import ValidateExecution

In [ ]:
days = ['2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25']

In [2]:
val = ValidateExecution(days)
val.error_types()
val.warning_types()

In [3]:
val.df_log

,date,type,function,description1,description2
0,21/03/2022 07:04:33 PM,INFO,etl.data_lake.partidas_campeonato.update_partidas,Function started,[]
1,21/03/2022 07:04:35 PM,SUCCESS,queries.Partida.campeonato,Function executed successfully. <jogo_id>=5982...,[]
2,21/03/2022 07:04:36 PM,SUCCESS,queries.Partida.day,Function executed successfully. <jogo_id>=5982...,[]
3,21/03/2022 07:04:38 PM,SUCCESS,queries.Partida.nomes_times,Function executed successfully. <jogo_id>=5982...,[]
4,21/03/2022 07:04:39 PM,SUCCESS,queries.Partida.formacao,Function executed successfully. <jogo_id>=5982...,[]
...,...,...,...,...,...
131627,25/03/2022 03:08:39 AM,SUCCESS,queries.Partida.gols,Function executed successfully. <jogo_id>=5422...,[]
131628,25/03/2022 03:08:40 AM,SUCCESS,queries.Partida.minuto_a_minuto,Function executed successfully. <jogo_id>=5422...,[]
131629,25/03/2022 03:08:41 AM,INFO,etl.data_lake.partidas_campeonato.update_partidas,Update league franca | 2019-2020. runtime = 13...,[]
131630,25/03/2022 12:34:46 PM,INFO,etl.data_lake.partidas_campeonato.update_partidas,Function started,[]
131631,25/03/2022 12:34:46 PM,INFO,etl.data_lake.partidas_campeonato.update_partidas,Already up to date,[]

In [4]:
val.df_error

function
etl.data_lake.partidas_campeonato.update_partidas    621
queries.Partida.formacao                             248
queries.Partida.placar                               156
queries.Partida.posse                                143
queries.Partida.chutes_fora_nogol                    140
queries.Partida.faltas                               139
queries.Partida.cartoes_amarelos                     135
queries.Partida.cartoes_vermelhos                    131
queries.Partida.impedimentos                         125
queries.Partida.escanteios                           119
queries.Partida.defesas                              116
queries.Partida.jogadores                            115
queries.Partida.campeonato                            89
queries.Partida.day                                   85
queries.Partida.nomes_times                           85
queries.Partida.__init__                               9
queries.Partida.minuto_a_minuto                        4
Name: function, dtype: int64

In [5]:
val.df_warning

function
queries.Partida.__init__    102
Name: function, dtype: int64

In [6]:
for f in val.important_functions:
    print(f.upper())
    print('---------------------------')
    val.print_description_error(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
UTILS.LOOP_TRY.LOOP_TRY
---------------------------
QUERIES.PARTIDA.__INIT__
---------------------------
Unexpected error: Could find date by method find_element_by_xpath of selenium. <jogo_id>=507266. runtime = 4.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=507266. runtime = 4.0 seconds

Unexpected error: Could find date by method find_element_by_xpath of selenium. <jogo_id>=581978. runtime = 5.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=581978. runtime = 5.0 seconds

Unexpected error: Could find date by method find_element_by_xpath of selenium. <jogo_id>=433941. runtime = 4.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=433941. runtime = 4.0 seconds

Unexpected error: Could find date by method find_element_by_xpath of selenium. <jogo_id>=402528. runtime = 3.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=402528. runtime = 4.0 seconds

Unexpected error: Could find date by method find_element_by_xpath of selenium. <jogo_id>=572901. runtime = 8.0 seconds

In [12]:
for f in val.important_functions:
    if f not in ('queries.Partida.__init__'):
        print(f.upper())
        print('---------------------------')
        val.print_description_warning(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
UTILS.LOOP_TRY.LOOP_TRY
---------------------------

## update_partidas

In [3]:
val.df_partidas_failed

,campeonato,temporada,jogo_id,failed
0,brasil,2020-2020,569662,[df_jogadores]
1,brasil,2017-2017,476183,[df_minuto_a_minuto]
2,brasil,2017-2017,476229,[df_minuto_a_minuto]
3,brasil,2017-2017,476046,[df_jogadores]
4,brasil,2016-2016,445952,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
...,...,...,...,...
370,franca,2019-2020,541951,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
371,franca,2019-2020,541952,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
372,franca,2019-2020,541953,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
373,franca,2019-2020,541954,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
374,franca,2019-2020,541962,"[df_resumo, df_jogadores, df_minuto_a_minuto]"

In [4]:
# quantidades de erros avisados em 
# metadata.partidas.<campeonato>.<temporada>.<jogo_id>.failed (datalake)
(
    val.df_partidas_failed
    .groupby(['campeonato','temporada'])['campeonato']
    .count()
)

campeonato  temporada
brasil      2014-2014     66
            2016-2016     36
            2017-2017      3
            2020-2020      1
espanha     2011-2012    153
            2014-2015      1
            2015-2016      1
            2016-2017     10
            2017-2018      1
            2019-2020      1
franca      2019-2020    101
            2020-2021      1
Name: campeonato, dtype: int64

In [10]:
# partidas canceladas
def filter_jogo_id(string):
    return string[40:].split('.')[0]

index_filter = (
                (val.df_log['type'] == 'WARNING') & 
                (val.df_log['function']=='queries.Partida.__init__')
               )
(
    val.df_log[index_filter]['description1']
    .apply(filter_jogo_id)
    .drop_duplicates()
)

30487     445952
124863    541855
124886    541856
124909    541857
124931    541858
           ...
127063    541951
127086    541952
127109    541953
127132    541954
127267    541962
Name: description1, Length: 102, dtype: object

In [26]:
# geralmente, todos os erros gerados na funÃ§Ã£o etl.data_lake.partidas_campeonato.update_partidas,
# sÃ£o do tipo Could not create dataframe.
# Estes erros estÃ£o todos contidos em
# metadata.partidas.<campeonato>.<temporada>.<jogo_id>.failed (datalake)
def select_(string):
    return string[:26]

index_filter = (
                (val.df_log['type'] == 'ERROR') & 
                (val.df_log['function']=='etl.data_lake.partidas_campeonato.update_partidas')
               )
(
    val.df_log[index_filter]
    ['description1']
    .apply(select_)
    .drop_duplicates()
)

6928    Could not create dataframe
Name: description1, dtype: object