In [1]:
import json

from cafu.utils import ValidateExecution
from cafu.metadata import path
path_datalake = path('datalake')

In [5]:
init, end = '2022-06-02', '2022-06-07'

In [6]:
val = ValidateExecution(init, end)
val.error_types()
val.warning_types()

In [7]:
# logs gerados nos dias <days>
val.df_log

,date,type,function,description1,description2
0,02/06/2022 05:42:45 PM,SUCCESS,utils.etl.datalake.initialize_datalake,Function executed successfully,[02/06/2022 05:47:23 PM NumExpr defaulting to ...
1,02/06/2022 05:47:23 PM,INFO,etl.data_lake.partidas_campeonato.update_jogos...,Function started,[]
2,02/06/2022 05:47:23 PM,INFO,etl.data_lake.partidas_campeonato.partidas_cam...,"Function started. <campeonato>=alemanha, <temp...",[]
3,02/06/2022 05:47:25 PM,SUCCESS,queries.Partida.campeonato,Function executed successfully. <jogo_id>=6088...,[]
4,02/06/2022 05:47:26 PM,SUCCESS,queries.Partida.nomes_times,Function executed successfully. <jogo_id>=6088...,[]
...,...,...,...,...,...
215518,07/06/2022 07:04:34 AM,SUCCESS,queries.Partida.cartoes_vermelhos,Function executed successfully. <jogo_id>=3905...,[]
215519,07/06/2022 07:04:35 AM,SUCCESS,queries.Partida.impedimentos,Function executed successfully. <jogo_id>=3905...,[]
215520,07/06/2022 07:04:37 AM,SUCCESS,queries.Partida.escanteios,Function executed successfully. <jogo_id>=3905...,[]
215521,07/06/2022 07:04:38 AM,SUCCESS,queries.Partida.defesas,Function executed successfully. <jogo_id>=3905...,[]
215522,07/06/2022 07:04:42 AM,SUCCESS,queries.Partida.jogadores,Function executed successfully. <jogo_id>=3905...,[]

In [8]:
# contagens dos erros em <val.df_log>, por função
val.df_error

function
queries.Partida.campeonato                               694
queries.Partida.nomes_times                              676
queries.Partida.day                                      666
etl.data_lake.partidas_campeonato.update_partidas        484
queries.Partida.formacao                                 320
queries.Partida.faltas                                    53
queries.Partida.chutes_fora_nogol                         50
queries.Partida.posse                                     49
queries.Partida.cartoes_amarelos                          46
queries.Partida.jogadores                                 46
queries.Partida.cartoes_vermelhos                         42
queries.Partida.defesas                                   35
queries.Partida.impedimentos                              35
queries.Partida.escanteios                                33
queries.Partida.placar                                    31
etl.data_lake.partidas_campeonato.partidas_campeonato     17
utils.loop_try.loop_try                                   11
queries.Partida.__init__                                   9
queries.Partida.minuto_a_minuto                            3
Name: function, dtype: int64

In [9]:
# contagens dos warnings em <val.df_log>, por função
val.df_warning

function
queries.Partida.__init__    1
Name: function, dtype: int64

In [10]:
for f in val.important_functions:
    print(f.upper())
    print('---------------------------')
    val.print_description_error(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 26 minutes and 44.0 seconds

Unexpected number of teams: <returned>=19 <expected>=20. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 26 minutes and 44.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Barcelona': ['Real Sociedad'], 'Real Madrid': ['Valencia']}. Return <min_id_campeonato>=348163, <max_id_campeonato>=348504, <excedentes>=2. <campeonato>=2012/2013 Spanish Primera División, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 26 minutes and 44.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 26 minutes and 37.0 seconds

Unexpected number of teams: <returned>=19 <expected>=20. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 26 minutes and 37.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Osasuna': ['Valencia'], 'Villareal': ['Sporting Gijón']}. Return <min_id_campeonato>=323688, <max_id_campeonato>=324029, <excedentes>=2. <campeonato>=Primeira Divisão Espanhola - 2011/12, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 26 minutes and 37.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=370, <expected>=380. Return <min_id_campeonato>=512011, <max_id_campeonato>=512380, <excedentes>=0. <campeonato>=2018-19 Campeonato Francês, Temporada regular, <temporada>=2018-2019, <qt_jogos_rodada>=10. runtime = 31 minutes and 26.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Dijon FCO': ['AS Mônaco'], 'Guingamp': ['Stade de Reims'], 'Marseille': ['Lille'], 'Montpellier': ['Caen'], 'Nantes': ['Saint-Etienne'], 'Nice': ['Nimes'], 'Paris Saint-Germain': ['Stade Rennais'], 'SC Amiens': ['Lyon'], 'Strasbourg': ['Bordeaux'], 'Toulouse': ['Angers']}. Return <min_id_campeonato>=512011, <max_id_campeonato>=512380, <excedentes>=0. <campeonato>=2018-19 Campeonato Francês, Temporada regular, <temporada>=2018-2019, <qt_jogos_rodada>=10. runtime = 31 minutes and 26.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=150, <expected>=380. Return <min_id_campeonato>=320197, <max_id_campeonato>=320349, <excedentes>=3. <campeonato>=2011/2012 French Ligue 1, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 23 minutes and 54.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'AC Ajaccio': ['Sochaux', 'AS Nancy Lorraine', 'Lyon', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Nice', 'Brest', 'Marseille', 'Toulouse', 'Dijon FCO', 'Valenciennes', 'Lorient'], 'AJ Auxerre': ['AC Ajaccio', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'Brest', 'Marseille', 'Montpellier', 'Valenciennes', 'Lorient'], 'AS Nancy Lorraine': ['Sochaux', 'Stade Rennais', 'Paris Saint-Germain', 'Saint-Etienne', 'Lyon', 'Bordeaux', 'AJ Auxerre', 'Lille', 'Toulouse', 'Montpellier', 'Caen'], 'Bordeaux': ['Stade Rennais', 'AC Ajaccio', 'Lyon', 'Saint-Etienne', 'Evian Thonon Gaillard', 'AJ Auxerre', 'Nice', 'Marseille', 'Toulouse', 'Dijon FCO', 'Lorient'], 'Brest': ['Stade Rennais', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Lyon', 'Evian Thonon Gaillard', 'Bordeaux', 'Marseille', 'Lille', 'Toulouse', 'Dijon FCO', 'Valenciennes'], 'Caen': ['Sochaux', 'AC Ajaccio', 'Paris Saint-Germain', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'AJ Auxerre', 'Brest', 'Lille', 'Toulouse', 'Valenciennes', 'Lorient'], 'Dijon FCO': ['Stade Rennais', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Lyon', 'AJ Auxerre', 'Nice', 'Lille', 'Toulouse', 'Montpellier', 'Valenciennes', 'Caen', 'Lorient'], 'Evian Thonon Gaillard': ['Sochaux', 'Stade Rennais', 'AC Ajaccio', 'AS Nancy Lorraine', 'Lyon', 'Bordeaux', 'Nice', 'Brest', 'Marseille', 'Lille', 'Toulouse', 'Dijon FCO'], 'Lille': ['AC Ajaccio', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Bordeaux', 'AJ Auxerre', 'Marseille', 'Toulouse', 'Montpellier', 'Valenciennes', 'Caen'], 'Lorient': ['Sochaux', 'Stade Rennais', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'Brest', 'Marseille', 'Lille', 'Dijon FCO', 'Montpellier'], 'Lyon': ['Sochaux', 'AC Ajaccio', 'Paris Saint-Germain', 'AJ Auxerre', 'Nice', 'Brest', 'Lille', 'Dijon FCO', 'Montpellier', 'Valenciennes', 'Caen', 'Lorient'], 'Marseille': ['Sochaux', 'Stade Rennais', 'AS Nancy Lorraine', 'Lyon', 'Saint-Etienne', 'AJ Auxerre', 'Toulouse', 'Dijon FCO', 'Montpellier', 'Valenciennes', 'Caen'], 'Montpellier': ['Sochaux', 'Stade Rennais', 'AC Ajaccio', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'AJ Auxerre', 'Nice', 'Brest', 'Lille', 'Valenciennes', 'Caen'], 'Nice': ['Paris Saint-Germain', 'AS Nancy Lorraine', 'Lyon', 'Evian Thonon Gaillard', 'AJ Auxerre', 'Brest', 'Marseille', 'Lille', 'Toulouse', 'Montpellier', 'Caen', 'Lorient'], 'Paris Saint-Germain': ['Sochaux', 'Stade Rennais', 'AC Ajaccio', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'Brest', 'Marseille', 'Montpellier', 'Valenciennes', 'Lorient'], 'Saint-Etienne': ['Stade Rennais', 'AS Nancy Lorraine', 'Lyon', 'Evian Thonon Gaillard', 'Bordeaux', 'Nice', 'Brest', 'Marseille', 'Lille', 'Dijon FCO', 'Lorient'], 'Sochaux': ['AS Nancy Lorraine', 'Saint-Etienne', 'Bordeaux', 'AJ Auxerre', 'Nice', 'Brest', 'Marseille', 'Lille', 'Dijon FCO', 'Valenciennes', 'Caen', 'Lorient'], 'Stade Rennais': ['Sochaux', 'AC Ajaccio', 'Paris Saint-Germain', 'Lyon', 'AJ Auxerre', 'Nice', 'Marseille', 'Lille', 'Toulouse', 'Dijon FCO', 'Montpellier', 'Caen'], 'Toulouse': ['Sochaux', 'AC Ajaccio', 'Paris Saint-Germain', 'Lyon', 'Saint-Etienne', 'AJ Auxerre', 'Nice', 'Dijon FCO', 'Montpellier', 'Caen', 'Lorient'], 'Valenciennes': ['Stade Rennais', 'AC Ajaccio', 'Paris Saint-Germain', 'AS Nancy Lorraine', 'Saint-Etienne', 'Evian Thonon Gaillard', 'Bordeaux', 'Nice', 'Brest', 'Toulouse', 'Caen', 'Lorient']}. Return <min_id_campeonato>=320197, <max_id_campeonato>=320349, <excedentes>=3. <campeonato>=2011/2012 French Ligue 1, <temporada>=2011-2012, <qt_jogos_rodada>=10. runtime = 23 minutes and 54.0 seconds

Unexpected number of teams: <returned>=21 <expected>=20. Return <min_id_campeonato>=395418, <max_id_campeonato>=395797, <excedentes>=0. <campeonato>=Barclays Premier League 2014-2015, <temporada>=2014-2015, <qt_jogos_rodada>=10. runtime = 29 minutes and 50.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Arsenal': [None], 'Aston Villa': [None], 'Burnley': [None], 'Chelsea': [None], 'Crystal Palace': [None], 'Everton': ['Liverpool', None], 'Hull City': [None], 'Leicester City': [None], 'Liverpool': [None], 'Manchester City': [None], 'Manchester United': [None], 'Newcastle United': [None], 'Queens Park Rangers': [None], 'Southampton': [None], 'Stoke City': [None], 'Sunderland': [None], 'Swansea City': [None], 'Tottenham Hotspur': [None], 'West Bromwich Albion': [None], 'West Ham United': [None], None: ['Manchester United', 'Arsenal', 'Stoke City', 'Burnley', 'Sunderland', 'Liverpool', 'Queens Park Rangers', 'Tottenham Hotspur', 'Leicester City', 'Southampton', 'Chelsea', 'Aston Villa', 'Swansea City', 'West Bromwich Albion', 'Manchester City', 'Newcastle United', 'West Ham United', 'Crystal Palace', 'Hull City', 'Everton']}. Return <min_id_campeonato>=395418, <max_id_campeonato>=395797, <excedentes>=0. <campeonato>=Barclays Premier League 2014-2015, <temporada>=2014-2015, <qt_jogos_rodada>=10. runtime = 29 minutes and 50.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=367138, <max_id_campeonato>=367479, <excedentes>=2. <campeonato>=Barclays Premier League 2013-2014, <temporada>=2013-2014, <qt_jogos_rodada>=10. runtime = 27 minutes and 32.0 seconds

Unexpected number of teams: <returned>=19 <expected>=20. Return <min_id_campeonato>=367138, <max_id_campeonato>=367479, <excedentes>=2. <campeonato>=Barclays Premier League 2013-2014, <temporada>=2013-2014, <qt_jogos_rodada>=10. runtime = 27 minutes and 32.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Liverpool': ['Stoke City'], 'West Bromwich Albion': ['Southampton']}. Return <min_id_campeonato>=367138, <max_id_campeonato>=367479, <excedentes>=2. <campeonato>=Barclays Premier League 2013-2014, <temporada>=2013-2014, <qt_jogos_rodada>=10. runtime = 27 minutes and 32.0 seconds

Unexpected number of lines in returned dataframe (expected amount of league matches): <returned>=340, <expected>=380. Return <min_id_campeonato>=345527, <max_id_campeonato>=345868, <excedentes>=2. <campeonato>=Barclays Premier League 2012-2013, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 27 minutes and 52.0 seconds

Not all returned teams faced each other: <jogos_faltantes>={'Arsenal': [None], 'Aston Villa': [None], 'Chelsea': [None], 'Everton': [None], 'Fulham': [None], 'Liverpool': [None], 'Manchester City': [None], 'Manchester United': [None], 'Newcastle United': [None], 'Norwich City': [None], 'Queens Park Rangers': [None], 'Reading': [None, 'Stoke City'], 'Stoke City': [None], 'Sunderland': ['Reading', None, 'Swansea City'], 'Swansea City': [None], 'Tottenham Hotspur': [None], 'West Bromwich Albion': [None], 'West Ham United': [None], 'Wigan Athletic': [None], None: ['Manchester United', 'Fulham', 'Arsenal', 'Stoke City', 'Norwich City', 'Sunderland', 'Liverpool', 'Queens Park Rangers', 'Tottenham Hotspur', 'Everton', 'Reading', 'Aston Villa', 'Swansea City', 'West Bromwich Albion', 'Manchester City', 'Newcastle United', 'West Ham United', 'Wigan Athletic', 'Chelsea']}. Return <min_id_campeonato>=345527, <max_id_campeonato>=345868, <excedentes>=2. <campeonato>=Barclays Premier League 2012-2013, <temporada>=2012-2013, <qt_jogos_rodada>=10. runtime = 27 minutes and 52.0 seconds

UTILS.LOOP_TRY.LOOP_TRY
---------------------------
Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7f1455d7f5e0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7f1455d7fa60>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7f145655c4c0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7f145655c4c0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a0d03a0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12e685310>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a99bf70>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a99bf70>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a0d8ee0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a0c9e50>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

Unexpected error: Could not execute function with default max_iterate. <f>=<function dados_partida.<locals>._try_dados_partida at 0x7fa12a0d03a0>,<max_iterate>=50, <time_sleep>=1, <barra_progresso>=False

QUERIES.PARTIDA.__INIT__
---------------------------

Unexpected error: Could not find date by method find_element_by_xpath of selenium. <jogo_id>=608836. runtime = 45.0 seconds

Unexpected error: Could not find date by method find_element_by_xpath of selenium. <jogo_id>=346382. runtime = 4.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=346382. runtime = 5.0 seconds

Unexpected error: Could not find date by method find_element_by_xpath of selenium. <jogo_id>=507007. runtime = 4.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=507007. runtime = 4.0 seconds

Unexpected error: Could not find date by method find_element_by_xpath of selenium. <jogo_id>=507215. runtime = 6.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=507215. runtime = 6.0 seconds

Unexpected error: Could not find date by method find_element_by_xpath of selenium. <jogo_id>=390393. runtime = 4.0 seconds

Unexpected error: Could not find status by method find_element_by_xpath of selenium. <jogo_id>=390393. runtime = 4.0 seconds

In [8]:
for f in val.important_functions:
    if f not in ('queries.Partida.__init__'):
        print(f.upper())
        print('---------------------------')
        val.print_description_warning(f)

ETL.DATA_LAKE.PARTIDAS_CAMPEONATO.PARTIDAS_CAMPEONATO
---------------------------
UTILS.LOOP_TRY.LOOP_TRY
---------------------------

## update_partidas
análises especificas da função update_partidas

In [3]:
# dataframe gerado a partir de
# metadata.partidas.<campeonato>.<temporada>.<jogo_id>.failed (datalake)
val.df_partidas_failed

,campeonato,temporada,jogo_id,failed
0,brasil,2020-2020,569662,[df_jogadores]
1,brasil,2017-2017,476183,[df_minuto_a_minuto]
2,brasil,2017-2017,476229,[df_minuto_a_minuto]
3,brasil,2017-2017,476046,[df_jogadores]
4,brasil,2016-2016,445952,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
...,...,...,...,...
370,franca,2019-2020,541951,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
371,franca,2019-2020,541952,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
372,franca,2019-2020,541953,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
373,franca,2019-2020,541954,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
374,franca,2019-2020,541962,"[df_resumo, df_jogadores, df_minuto_a_minuto]"

In [4]:
# quantidades de erros avisados em <val.df_partidas_failed>,
# por campeonato, temporada
(
    val.df_partidas_failed
    .groupby(['campeonato','temporada'])['campeonato']
    .count()
)

campeonato  temporada
brasil      2014-2014     66
            2016-2016     36
            2017-2017      3
            2020-2020      1
espanha     2011-2012    153
            2014-2015      1
            2015-2016      1
            2016-2017     10
            2017-2018      1
            2019-2020      1
franca      2019-2020    101
            2020-2021      1
Name: campeonato, dtype: int64

In [10]:
# partidas canceladas, detectadas em <val.df_log>
def filter_jogo_id(string):
    return string[40:].split('.')[0]

index_filter = (
                (val.df_log['type'] == 'WARNING') & 
                (val.df_log['function']=='queries.Partida.__init__')
               )
(
    val.df_log[index_filter]['description1']
    .apply(filter_jogo_id)
    .drop_duplicates()
)

30487     445952
124863    541855
124886    541856
124909    541857
124931    541858
           ...
127063    541951
127086    541952
127109    541953
127132    541954
127267    541962
Name: description1, Length: 102, dtype: object

In [26]:
# geralmente, todos os erros gerados na função etl.data_lake.partidas_campeonato.update_partidas,
# são do tipo Could not create dataframe.
# Estes erros estão todos contidos em
# metadata.partidas.<campeonato>.<temporada>.<jogo_id>.failed (datalake)
def select_(string):
    return string[:26]

index_filter = (
                (val.df_log['type'] == 'ERROR') & 
                (val.df_log['function']=='etl.data_lake.partidas_campeonato.update_partidas')
               )
(
    val.df_log[index_filter]
    ['description1']
    .apply(select_)
    .drop_duplicates()
)

6928    Could not create dataframe
Name: description1, dtype: object