In [40]:
import pandas as pd
from cafu.metadata import path
log_path = path('logs_cafu')+'/logs.txt'

In [110]:
dia = '2022-03-16'
log_path = log_path[:29]+dia+log_path[39:]

In [111]:
with open(log_path) as f:
    lines = f.read().split('\n')

In [112]:
columns = ['date', 'type', 'function', 'description1', 'description2']
types = ['INFO', 'SUCCESS', 'WARNING', 'ERROR']
data = []
for i in range(len(lines)):
    try:
        div = []
        j = 0
        while len(div)<=1:
            div = lines[i].split(f' {types[j]} ')
            j+=1
        date = div[0]
        type_ = types[j-1]
        function = div[1].split(': ')[0]
        description1 = div[1].split(function+': ')[1]
        data.append([date, type_, function, description1, []])
    except:
        data[-1][-1].append(lines[i])

In [114]:
df = pd.DataFrame(data, columns=columns)

In [121]:
index_filter = df['type'] == 'ERROR'
df[index_filter]

,date,type,function,description1,description2
7,16/03/2022 08:03:55 AM,ERROR,queries.Partida.faltas,Unexpected error: Could not execute function. ...,[16/03/2022 08:03:55 AM list index out of range]
11,16/03/2022 08:04:56 AM,ERROR,queries.Partida.faltas,Unexpected error: Could not execute function. ...,[16/03/2022 08:04:56 AM list index out of range]
19,16/03/2022 08:07:08 AM,ERROR,queries.Partida.faltas,Unexpected error: Could not execute function. ...,[16/03/2022 08:07:08 AM list index out of range]
24,16/03/2022 08:07:16 AM,ERROR,queries.Partida.defesas,Unexpected error: Could not execute function. ...,[16/03/2022 08:07:16 AM list index out of range]
32,16/03/2022 08:07:48 AM,ERROR,queries.Partida.faltas,Unexpected error: Could not execute function. ...,[16/03/2022 08:07:48 AM list index out of range]
...,...,...,...,...,...
27443,17/03/2022 04:07:11 AM,ERROR,etl.data_lake.partidas_campeonato.update_partidas,Could not create dataframe df_jogadores. <camp...,[17/03/2022 04:07:11 AM 'NoneType' object is n...
27445,17/03/2022 04:07:13 AM,ERROR,queries.Partida.minuto_a_minuto,Unexpected error: Could not execute function. ...,[17/03/2022 04:07:13 AM list index out of range]
27446,17/03/2022 04:07:13 AM,ERROR,etl.data_lake.partidas_campeonato.update_partidas,Could not create dataframe df_minuto_a_minuto....,[17/03/2022 04:07:13 AM 'NoneType' object is n...
27449,17/03/2022 04:07:17 AM,ERROR,queries.Partida.__init__,Unexpected error: Could find date by method fi...,[17/03/2022 04:07:17 AM Message: no such eleme...
27450,17/03/2022 04:07:17 AM,ERROR,queries.Partida.__init__,Unexpected error: Could find status by method ...,[17/03/2022 04:07:17 AM Message: no such eleme...

In [ ]:
class Performance(day):