In [1]:
from cafu.utils import ValidateExecution
import pandas as pd

In [2]:
days = ['2022-03-21', '2022-03-22', '2022-03-23', '2022-03-24', '2022-03-25']
val = ValidateExecution(days)
val.error_types()
val.warning_types()

In [3]:
val.df_partidas_failed

,campeonato,temporada,jogo_id,failed
0,brasil,2020-2020,569662,[df_jogadores]
1,brasil,2020-2020,569974,[df_resumo]
2,brasil,2017-2017,476183,[df_minuto_a_minuto]
3,brasil,2017-2017,476229,[df_minuto_a_minuto]
4,brasil,2017-2017,476046,[df_jogadores]
...,...,...,...,...
400,franca,2019-2020,541953,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
401,franca,2019-2020,541954,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
402,franca,2019-2020,541962,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
403,franca,2019-2020,542012,[df_resumo]
404,franca,2019-2020,542032,[df_resumo]

In [13]:
val.df_partidas_failed.explode('failed')

    campeonato  temporada jogo_id              failed
0       brasil  2020-2020  569662        df_jogadores
1       brasil  2020-2020  569974           df_resumo
2       brasil  2017-2017  476183  df_minuto_a_minuto
3       brasil  2017-2017  476229  df_minuto_a_minuto
4       brasil  2017-2017  476046        df_jogadores
..         ...        ...     ...                 ...
402     franca  2019-2020  541962           df_resumo
402     franca  2019-2020  541962        df_jogadores
402     franca  2019-2020  541962  df_minuto_a_minuto
403     franca  2019-2020  542012           df_resumo
404     franca  2019-2020  542032           df_resumo

[609 rows x 4 columns]

In [12]:
val.df_partidas_failed.groupby(['campeonato','temporada'])['campeonato'].count()

campeonato  temporada
brasil      2014-2014     66
            2015-2015      1
            2016-2016     38
            2017-2017      3
            2020-2020      2
espanha     2011-2012    155
            2012-2013      5
            2013-2014     10
            2014-2015      3
            2015-2016      1
            2016-2017     10
            2017-2018      1
            2018-2019      1
            2019-2020      1
            2020-2021      4
franca      2019-2020    103
            2020-2021      1
Name: campeonato, dtype: int64

In [13]:
index_filter = ((val.df_log['type'] == 'ERROR') & 
(val.df_log['function']=='etl.data_lake.partidas_campeonato.update_partidas'))
val.df_log[index_filter]['description1'].drop_duplicates()[6928]

'Could not create dataframe df_jogadores. <campeonato>=brasil, <temporada>=2020-2020, <jogo_id>=569662'

In [37]:
def f(x):
    return x[:29]

def 

index_filter = ((val.df_log['type'] == 'WARNING') & 
(val.df_log['function']=='queries.Partida.__init__'))
val.df_log[index_filter]['description1'].apply(f).drop_duplicates()

30487    status da partida: Cancelado.
Name: description1, dtype: object

In [35]:
x = 'status da partida: Cancelado. <jogo_id>=445952'
x[:29]

'status da partida: Cancelado.'

In [51]:
val.df_log[index_filter]['description1'][30487][40:46]

'445952'

In [5]:
val.df_error

function
etl.data_lake.partidas_campeonato.update_partidas    621
queries.Partida.formacao                             248
queries.Partida.placar                               156
queries.Partida.posse                                143
queries.Partida.chutes_fora_nogol                    140
queries.Partida.faltas                               139
queries.Partida.cartoes_amarelos                     135
queries.Partida.cartoes_vermelhos                    131
queries.Partida.impedimentos                         125
queries.Partida.escanteios                           119
queries.Partida.defesas                              116
queries.Partida.jogadores                            115
queries.Partida.campeonato                            89
queries.Partida.day                                   85
queries.Partida.nomes_times                           85
queries.Partida.__init__                               9
queries.Partida.minuto_a_minuto                        4
Name: function, dtype: int64

In [6]:
val.df_warning

function
queries.Partida.__init__    102
Name: function, dtype: int64

In [52]:
from cafu.metadata import path
import json
r = open(path('datalake')+'/metadata.json')
metadata = json.load(r)

In [53]:
failed = []
for c in metadata['partidas']:
    for t in metadata['partidas'][c]:
        for j in metadata['partidas'][c][t]:
            f = metadata['partidas'][c][t][j]['failed']
            if len(f)>0:
                failed.append([c, t, j, f])

In [26]:
pd.DataFrame(failed, columns=['campeonato', 'temporada', 'jogo_id', 'failed'])

,campeonato,temporada,jogo_id,failed
0,brasil,2020-2020,569662,[df_jogadores]
1,brasil,2020-2020,569974,[df_resumo]
2,brasil,2017-2017,476183,[df_minuto_a_minuto]
3,brasil,2017-2017,476229,[df_minuto_a_minuto]
4,brasil,2017-2017,476046,[df_jogadores]
...,...,...,...,...
400,franca,2019-2020,541953,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
401,franca,2019-2020,541954,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
402,franca,2019-2020,541962,"[df_resumo, df_jogadores, df_minuto_a_minuto]"
403,franca,2019-2020,542012,[df_resumo]
404,franca,2019-2020,542032,[df_resumo]