In [1]:
from cafu.utils import path
path_datalake = path('datalake')
from cafu.utils import get_spark
spark = get_spark(1)

22/03/20 11:09:57 WARN Utils: Your hostname, luan-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
22/03/20 11:09:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by org.apache.spark.unsafe.Platform (file:/usr/local/spark/spark-3.0.3-bin-hadoop2.7/jars/spark-unsafe_2.12-3.0.3.jar) to constructor java.nio.DirectByteBuffer(long,int)
WARNING: Please consider reporting this to the maintainers of org.apache.spark.unsafe.Platform
WARNING: Use --illegal-access=warn to enable warnings of further illegal reflective access operations
WARNING: All illegal access operations will be denied in a future release
Ivy Default Cache set to: /home/luan/.ivy2/cache
The jars for the packages stored in: /home/luan/.ivy2/jars
:: loading settings :: url = jar:file:/usr/local/spark/spark-3.0.3-bin-hadoop2.7/jars/ivy-2.4.0.jar!/org/apache/ivy/core/settings/ivysettings.xml
io.delta#delta-core_2.12 added as a dependency
:: resolving dependencies :: org.apache.spark#spark-submit-parent-9de49140-55ce-4334-98d1-a2304d62b766;1.0
	confs: [default]
	found io.delta#delta-core_2.12;1.0.0 in central
	found org.antlr#antlr4;4.7 in central
	found org.antlr#antlr4-runtime;4.7 in central
	found org.antlr#antlr-runtime;3.5.2 in central
	found org.antlr#ST4;4.0.8 in central
	found org.abego.treelayout#org.abego.treelayout.core;1.0.3 in central
	found org.glassfish#javax.json;1.0.4 in central
	found com.ibm.icu#icu4j;58.2 in central
:: resolution report :: resolve 895ms :: artifacts dl 30ms
	:: modules in use:
	com.ibm.icu#icu4j;58.2 from central in [default]
	io.delta#delta-core_2.12;1.0.0 from central in [default]
	org.abego.treelayout#org.abego.treelayout.core;1.0.3 from central in [default]
	org.antlr#ST4;4.0.8 from central in [default]
	org.antlr#antlr-runtime;3.5.2 from central in [default]
	org.antlr#antlr4;4.7 from central in [default]
	org.antlr#antlr4-runtime;4.7 from central in [default]
	org.glassfish#javax.json;1.0.4 from central in [default]
	---------------------------------------------------------------------
	|                  |            modules            ||   artifacts   |
	|       conf       | number| search|dwnlded|evicted|| number|dwnlded|
	---------------------------------------------------------------------
	|      default     |   8   |   0   |   0   |   0   ||   8   |   0   |
	---------------------------------------------------------------------
:: retrieving :: org.apache.spark#spark-submit-parent-9de49140-55ce-4334-98d1-a2304d62b766
	confs: [default]
	0 artifacts copied, 8 already retrieved (0kB/25ms)
22/03/20 11:09:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Using Spark's default log4j profile: org/apache/spark/log4j-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
22/03/20 11:10:05 WARN SparkSession: Cannot use io.delta.sql.DeltaSparkSessionExtension to configure session extensions.
java.lang.NoClassDefFoundError: org/apache/spark/sql/catalyst/SQLConfHelper
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1017)
	at java.base/java.security.SecureClassLoader.defineClass(SecureClassLoader.java:174)
	at java.base/java.net.URLClassLoader.defineClass(URLClassLoader.java:555)
	at java.base/java.net.URLClassLoader$1.run(URLClassLoader.java:458)
	at java.base/java.net.URLClassLoader$1.run(URLClassLoader.java:452)
	at java.base/java.security.AccessController.doPrivileged(Native Method)
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:451)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at java.base/java.lang.ClassLoader.defineClass1(Native Method)
	at java.base/java.lang.ClassLoader.defineClass(ClassLoader.java:1017)
	at java.base/java.security.SecureClassLoader.defineClass(SecureClassLoader.java:174)
	at java.base/java.net.URLClassLoader.defineClass(URLClassLoader.java:555)
	at java.base/java.net.URLClassLoader$1.run(URLClassLoader.java:458)
	at java.base/java.net.URLClassLoader$1.run(URLClassLoader.java:452)
	at java.base/java.security.AccessController.doPrivileged(Native Method)
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:451)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	at io.delta.sql.DeltaSparkSessionExtension.apply(DeltaSparkSessionExtension.scala:84)
	at io.delta.sql.DeltaSparkSessionExtension.apply(DeltaSparkSessionExtension.scala:73)
	at org.apache.spark.sql.SparkSession$.$anonfun$applyExtensions$1(SparkSession.scala:1163)
	at org.apache.spark.sql.SparkSession$.$anonfun$applyExtensions$1$adapted(SparkSession.scala:1158)
	at scala.collection.mutable.ResizableArray.foreach(ResizableArray.scala:62)
	at scala.collection.mutable.ResizableArray.foreach$(ResizableArray.scala:55)
	at scala.collection.mutable.ArrayBuffer.foreach(ArrayBuffer.scala:49)
	at org.apache.spark.sql.SparkSession$.org$apache$spark$sql$SparkSession$$applyExtensions(SparkSession.scala:1158)
	at org.apache.spark.sql.SparkSession.<init>(SparkSession.scala:101)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at java.base/jdk.internal.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at java.base/jdk.internal.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.base/java.lang.reflect.Constructor.newInstance(Constructor.java:490)
	at py4j.reflection.MethodInvoker.invoke(MethodInvoker.java:247)
	at py4j.reflection.ReflectionEngine.invoke(ReflectionEngine.java:357)
	at py4j.Gateway.invoke(Gateway.java:238)
	at py4j.commands.ConstructorCommand.invokeConstructor(ConstructorCommand.java:80)
	at py4j.commands.ConstructorCommand.execute(ConstructorCommand.java:69)
	at py4j.GatewayConnection.run(GatewayConnection.java:238)
	at java.base/java.lang.Thread.run(Thread.java:829)
Caused by: java.lang.ClassNotFoundException: org.apache.spark.sql.catalyst.SQLConfHelper
	at java.base/java.net.URLClassLoader.findClass(URLClassLoader.java:476)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:589)
	at java.base/java.lang.ClassLoader.loadClass(ClassLoader.java:522)
	... 40 more

In [13]:
import json
r = open(path_datalake+'/metadata.json', 'r')
metadata = json.load(r)

In [2]:
df = spark.read.parquet(path_datalake+'/jogadores/df_jogador')

In [3]:
df.cache()
df.count()

112

In [4]:
df.dropna().count()

18

In [5]:
df.columns

['jogo_id',
 'jogador_id',
 'time',
 'qt_temporadas',
 'posicao',
 'altura',
 'massa',
 'data_nascimento',
 'nacionalidade',
 'date_update']

In [7]:
for c in df.columns:
    print(c, df.dropna(subset=c).count())

jogo_id 112
jogador_id 112
time 37
qt_temporadas 37
posicao 112
altura 96
massa 88
data_nascimento 96
nacionalidade 43
date_update 112

In [9]:
df.printSchema()

root
 |-- jogo_id: integer (nullable = true)
 |-- jogador_id: string (nullable = true)
 |-- time: string (nullable = true)
 |-- qt_temporadas: integer (nullable = true)
 |-- posicao: string (nullable = true)
 |-- altura: float (nullable = true)
 |-- massa: float (nullable = true)
 |-- data_nascimento: date (nullable = true)
 |-- nacionalidade: string (nullable = true)
 |-- date_update: timestamp (nullable = true)

In [8]:
df.toPandas()

,jogo_id,jogador_id,time,qt_temporadas,posicao,altura,massa,data_nascimento,nacionalidade,date_update
0,598225,202201/hyoran,Red Bull Bragantino,1.0,Meio campista,1.75,63.0,1993-05-25,Brasil,2022-03-19 15:31:32.378389
1,598225,202201/hyoran,Red Bull Bragantino,1.0,Meio campista,1.75,63.0,1993-05-25,Brasil,2022-03-19 15:37:50.373194
2,598225,262111/alan-franco,Charlotte FC,1.0,Meio campista,1.75,73.0,1998-08-21,Equador,2022-03-19 15:30:59.479622
3,598225,262111/alan-franco,Charlotte FC,1.0,Meio campista,1.75,73.0,1998-08-21,Equador,2022-03-19 15:37:20.326509
4,598225,285162/darlan-mendes,Juventude,1.0,Meio campista,1.70,66.0,1998-04-16,Brasil,2022-03-19 15:29:19.339025
...,...,...,...,...,...,...,...,...,...,...
107,598226,257325/mailson,None,NaN,Goleiro,1.98,NaN,1996-08-20,None,2022-03-19 15:40:14.569302
108,598225,317014/gabriel-chapeco,None,NaN,Goleiro,NaN,NaN,None,None,2022-03-19 15:27:56.373290
109,598225,317014/gabriel-chapeco,None,NaN,Goleiro,NaN,NaN,None,None,2022-03-19 15:34:25.853422
110,598226,304755/italo,None,NaN,Meio campista,NaN,NaN,None,None,2022-03-19 15:39:08.263935
111,598226,291224/chico,None,NaN,Defensor,NaN,NaN,None,None,2022-03-19 15:38:36.388615

In [14]:
metadata['jogadores']

{'brasil': {'2021-2021': {'598225': 'failed'}}, 'espanha': {}, 'franca': {}}